<launch>
  <param name="/use_sim_time" value="true" />
  <arg name="model" default="$(find robot_localization)/urdf/t3robot_v1.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find robot_localization)/rviz/odom_turtlebot3.rviz" />
  <arg name="bag_filename" default="/home/jason/download/bagfiles/xyf_map2.bag"/>
  <rosparam command="load" file="$(find robot_localization)/params/ekf_template_xyf.yaml" />

<!-- localization odom -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true" />

<!-- localization map -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <remap from="set_pose" to="initialpose"/>
  </node>

<!-- GPS transform to localization type -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_map" />
    <remap from="imu/data" to="imu1" />
    <!-- <remap from="gps/fix" to="gps/fix1"/> -->
    <!-- <remap from="odometry/gps" to="odometry/gps1"/> -->
  </node>

<!-- edit gps frame id -->
  <node pkg="robot_localization" name="edit_gps_topic" type="edit_gps_frame_id.py">
    <!-- <remap from="fix" to="fix0"/> -->
    <!-- <remap from="gps/fix" to="gps/fix1"/> -->
  </node>

  <include file="$(find urdf_tutorial)/launch/display.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="rvizconfig" value="$(arg rvizconfig)"/>
  </include>

<!-- map server -->
  <arg name="map_file" default="$(find robot_localization)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  </node>

<!-- move_base -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/odometry/filtered" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner"/> -->
  
    <rosparam file="$(find robot_localization)/navigation_param/param/costmap_common_params_burger.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_localization)/navigation_param/param/costmap_common_params_burger.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find robot_localization)/navigation_param/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_localization)/navigation_param/param/global_costmap_params.yaml" command="load" />
  
    <rosparam file="$(find robot_localization)/navigation_param/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find robot_localization)/navigation_param/param/dwa_local_planner_params.yaml" command="load" />
    <!-- <rosparam file="$(find robot_localization)/navigation_param/param/global_planner_params.yaml" command="load" /> -->
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>

  <node name="playbag" pkg="rosbag" type="play" args="--clock -r 5 $(arg bag_filename)"/>
</launch>
